# Inputs for seed.sh. Rendered from this template by ../../setup-configs.sh.
KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_CLIENT_ID=admin
KEYCLOAK_CLIENT_SECRET=edc-v-admin-secret

IH_IDENTITY_URL=http://party-c-identityhub:7081/api/identity
IH_CREDENTIAL_SERVICE_URL=http://party-c-identityhub:7082/api/credentials/v1/participants/party-c

CP_MANAGEMENT_URL=http://party-c-controlplane:8081/api/mgmt
CP_MANAGEMENT_KEY=${PARTY_C_MANAGEMENT_API_KEY}
CP_PROTOCOL_URL=http://party-c-controlplane:8082/api/dsp
CP_SIGNALING_URL=http://party-c-controlplane:8182/api/signaling
DP_SIGNALING_URL=http://party-c-dataplane:8182/api/signaling
DP_DATAFLOW_URL=http://party-c-dataplane:8182/api/signaling/v1/dataflows

PARTY_C_CONTEXT_ID=party-c
PARTY_C_DID=did:web:${PARTY_C_DID_HOST}:party-c
PARTY_A_DID=did:web:${PARTY_A_DID_HOST}
ASSET_ID=${PARTY_C_ASSET_ID}
